@model Agromin.SAV.Web.ViewModel.Product.ListProductViewModel

@{
    ViewBag.Section = "Producto";
    ViewBag.Title = "Lista de usuarios";
    ViewBag.Icon = "fab fa-product-hunt";
    var index = 1;
}


<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="header-title">Producto</h4>
            <p class="sub-header">
                Lista de producto Sagromin.
            </p>

            <div class="table-responsive">
                <table class="table mb-0" id="tblProduct">
                    <thead>
                        <tr>
                            <th width="25%">#</th>
                            <th width="25%">Nombres</th>
                            <th width="25%">Estado</th>
                            <th width="25%">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstProduct)
                        {
                            <tr class="@(index % 2 != 1 ? "" : "table-info") ">
                                <th scope="row">@index</th>
                                <td>@item.Name</td>
                                <td>@Html.Raw(ConstantHelpers.ESTADO.GetLabelEstado(item.Status))</td>
                                <td>
                                    @*<a @Data.ModalLink("AddProduct", "Product", new { ProductId = item.ProductId })><i class="fa fa-edit" style="color:dodgerblue"></i></a>&nbsp;*@
                                    <a class="delete" id="@item.ProductId"><i class="fa fa-trash" style="color:orangered"></i></a>
                                </td>
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
            </div>

            <div class="mb-2">
                <div class="row">
                    <div class="col-12 text-sm-center form-inline">
                        <div class="mr-2">
                            <a href="@Url.Action("AddProduct", "Product")" class="btn btn-success btn-rounded" style="margin-top: 30px;"><i class="mdi mdi-plus-circle mr-2"></i> Agregar Producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#tblProduct').on('click', '.delete', function () {
            Swal.fire({
                type: 'info',
                title: 'Eliminar producto',
                text: 'Esta seguro de eliminar al producto',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                showCancelButton: true,
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    var Product_id = $(this)[0].attributes[1].nodeValue;
                    $.ajax({
                        url: '@Url.Action("DeleteProduct", "Product")',
                        method: 'POST',
                        async: false,
                        data: { Id: Product_id },
                        success: function (data) {
                            debugger;
                            if (data.validacion) {
                                Swal.fire({
                                    type: 'success',
                                    title: 'producto eliminado',
                                    timer: 1500
                                })
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            } else {
                                Swal.fire({
                                    type: 'error',
                                    title: 'producto no eliminado',
                                    timer: 1500
                                })
                            }
                        }
                    });
                }
            })
        });

    </script>
}