<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href="@Url.Action("ListSale","Sale")">
                        <i class="fas fa-money-bill-alt"></i>
                        <span> Venta </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListProduct","Product")">
                        <i class="fas fa-money-bill-alt"></i>
                        <span> Producto </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListBrand","Brand")">
                        <i class="fas fa-money-bill-alt"></i>
                        <span> Marca </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListProductBrand","ProductBrand")">
                        <i class="fas fa-money-bill-alt"></i>
                        <span>  Marca - Producto </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListStockProduct","EntryExitProduct")">
                        <i class="fas fa-money-bill-alt"></i>
                        <span>  Stock Producto </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->