@model Agromin.SAV.Web.ViewModel.Sale.AddEditSaleViewModel

@{
    ViewBag.Title = Model.SaleId.HasValue ? "Editar Venta" : "Agregar Venta";
    ViewBag.ModalIcon = "fa fa-user";
}


@Html.HiddenFor(x => x.SaleId)
<div class="col-lg-12">
    <div class="card">
        <div class="card-body ">
            <form method="post">
                <div class="col-md-12">
                    <label for="" class=" col-form-label">@Html.LabelFor(x => x.CodeVoucher)<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(x => x.CodeVoucher, new { @class = "form-control", placeholder = "Comprobante", @readonly = "readonly" })
                </div>
                <div class="col-md-12">
                    <label for="" class="col-form-label">@Html.LabelFor(x => x.LocalId)<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(x => x.LocalId, new SelectList(Model.LstLocal, "LocalId", "Name"), "Local", new { @class = "col-md-12 form-control" })
                </div>

                <div class="col-md-12">
                    <label for="" class="col-form-label">@Html.LabelFor(x => x.UserId)<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(x => x.UserId, new SelectList(Model.LstUser, "UserId", "Names"), "Usuario", new { @class = "col-md-12 form-control" })
                </div>
                <div class="col-md-12">
                    <label for="" class="col-form-label">@Html.LabelFor(x => x.CustomerId)<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(x => x.CustomerId, new SelectList(Model.LstCustomer, "CustomerId", "Names"), "Cliente", new { @class = "col-md-12 form-control" })
                </div>
                <div class="col-md-6 mb-3">
                    <a class="btn btn-success btn-rounded" data-add-detalle="data-add-detalle" style="margin-top: 30px;"><i class="mdi mdi-plus-circle mr-2" style="color:white"></i><label style="color:white;margin-bottom:0px"> Agregar detalle</label></a>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="table-responsive">
                        <table class="table mb-0" id="tblSale">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width:30%"><label style="color:white">Producto</label></th>
                                    <th style="width:15%"><label style="color:white">Cantidad</label></th>
                                    <th style="width:15%"><label style="color:white">Precio Unitario</label></th>
                                    <th style="width:20%"><label style="color:white">Importe</label></th>
                                    <th style="width:10%"><label style="color:white">Opciones</label></th>
                                </tr>
                            </thead>
                            <tbody id="tblDetail">
                                @if (Model.SaleId.HasValue)
                                {
                                    var index = 1;
                                    foreach (var item in Model.LstSaleDetail)
                                    {
                                        <tr class="detailSale">
                                            <td><select class="form-control" data-product="data-product" name="ListSaleDetail[@index].ProductBrandId" placeholder="producto" value="@item.ProductBrandId"></select></td>
                                            <td><input class="form-control onlyNumbers" data-quantity="data-quantity" name="ListSaleDetail[@index].Amount" placeholder="cantidad" value="@item.Amount" /></td>
                                            <td><input class="form-control onlyNumberDecimal" data-unitprice="data-unitprice" name="ListSaleDetail[@index].Price" placeholder="precio unitario" value="@item.Price" /></td>
                                            <td><input class="form-control onlyNumberDecimal" data-import="data-import" name="ListSaleDetail[@index].Total" placeholder="importe" disabled="disabled" value="@item.Total" /></td>
                                            <td><a class="btn removerow"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        index++;
                                    }
                                }
                                else
                                {
                                        <tr class="detailSale">
                                            <td>
                                                <select class="form-control" data-product="data-product" id="product-1" name="product-1" placeholder="producto">
                                                    <option value="">Producto</option>
                                                    @foreach (var itemProductBrand in Model.LstProductBrand)
                                                    {
                                                        <option value="@itemProductBrand.ProductBrandId">@itemProductBrand.NameProductBrand</option>
                                                    }
                                                </select>
                                            </td>
                                            <td><input class="form-control onlyNumbers" data-quantity="data-quantity" name="quantity-1" placeholder="cantidad" /></td>
                                            <td><input class="form-control onlyNumberDecimal" data-unitprice="data-unitprice" name="unitprice-1" placeholder="precio unitario" /></td>
                                            <td><input class="form-control onlyNumberDecimal" data-import="data-import" name="import-1" placeholder="importe" disabled="disabled" value="0.0000" /></td>
                                            <td><a class="btn removerow"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                }
                                <tr class="totalImport">
                                    <td></td>
                                    <td></td>
                                    <td align="center"><label>Total : </label></td>
                                    <td>S/. <label class="totalImportGeneral"></label></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-success btn-rounded" type="submit" id="btnSubmit"><i class="fe-save"></i> Guardar</button>

            </form>

        </div>
        
    </div>
</div>


@section Scripts{
    <script>
        var customerSelect2 = null;
        


        function binDetailSale($item) {
            //let productSelect2 = $item.find('.selectProduct');
            $item.find('.removerow').on('click', function (e) {
                var validation = $(this).closest('tbody').find('tr.detailSale').length;
                if (validation !== 1) {
                    $(this).closest('tr').remove();
                }
                calcularImporteTotal();
            });
            

            $item.find('[data-product="data-product"]').on('select2:select', function (e) {
                
                $quantity = $(e.target).closest('tr').find('.quantityDisponible');

                var quantity = e.params.data.quantity;

                if (quantity !== null) {
                    $quantity.text(quantity);
                } else
                {
                    $quantity.text(0);
                }
            });

            $item.find('[data-quantity="data-quantity"]').on('change', function () {
                let valuee = $(this).val();
                let valueUnitPrice = $(this).closest('tr')[0].children[2].children[0].value;
                let quantityDisponible = $(this).closest('tr')[0].children[1].children[0].innerHTML;
                if (valuee !== "" && valueUnitPrice !== "") {
                    let importe = parseFloat(valueUnitPrice) * parseInt(valuee);
                    $(this).closest('tr')[0].children[3].children[0].value = parseFloat(importe).toFixed(4);
                    calcularImporteTotal();
                } else {
                    $(this).closest('tr')[0].children[3].children[0].value = parseFloat(0).toFixed(4);
                    calcularImporteTotal();
                }
            });

            $item.find('[data-unitprice="data-unitprice"]').on('change', function () {
                let valuee = $(this).val();
                let valueQuantity = $(this).closest('tr')[0].children[1].children[0].value;
                if (valuee !== "" && valueQuantity !== "") {
                    let importe = parseFloat(valuee) * parseInt(valueQuantity);
                    $(this).closest('tr')[0].children[3].children[0].value = parseFloat(importe).toFixed(4);
                    calcularImporteTotal();
                } else {
                    $(this).closest('tr')[0].children[3].children[0].value = parseFloat(0).toFixed(4);
                    calcularImporteTotal();
                }
            });
        }

        $(document).ready(function () {


            binDetailSale($('#tblSale tbody tr'));
            
            calcularImporteTotal();
            $('.select2-container').prop('class', 'select2 select2-container select2-container--default select2-container--above');


        });

        $('#btnSubmit').on('click', function (e) {
            $('#CodeVoucher').removeAttr('disabled');
            let listDetailSale = $('#tblSale > tbody > tr.detailSale');

            let validation = true;

            for (var i = 0; i < listDetailSale.length; i++) {
                if (listDetailSale[i].children[0].children[0].value === "") {
                    validation = false;
                    break;
                }
                if (listDetailSale[i].children[2].children[0].value === "") {
                    validation = false;
                    break;
                }
                if (listDetailSale[i].children[3].children[0].value === "") {
                    validation = false;
                    break;
                }
            }
            if (validation === false) {
                Swal.fire({
                    type: 'error',
                    title: 'No puede realizar la venta si no ha completado los campos correctamente',
                    showConfirmButton: false,
                    timer: 3000
                })
                e.preventDefault();
            } else {

                if ($('.customerSelect').val() === "") {
                    Swal.fire({
                        type: 'error',
                        title: 'Es necesario ingresar un usuario',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    $('.validationcustomer').removeAttr('hidden');
                    e.preventDefault();
                } else {
                    $('#fmrs').off('submit').submit();
                }
            }
        });

        $('[data-add-detalle="data-add-detalle"]').on("click", function () {
            let countRow = $('#tblDetail tr').length;
            debugger;
            let detalle = `<tr class="detailSale">
                               <td><select class="form-control" data-product="data-product" id="product-` + countRow + `" name="product-` + countRow + `" placeholder="producto">
                                    <option value="">Producto</option>
                                    @foreach (var itemProductBrand in Model.LstProductBrand)
                                    {
                                        <option value="@itemProductBrand.ProductBrandId">@itemProductBrand.NameProductBrand</option>
                                    }
                               </select></td>
   <td><input class="form-control onlyNumbers" data-quantity="data-quantity" name="quantity-` + countRow + `" placeholder="cantidad" /></td>
                                <td><input class="form-control onlyNumberDecimal" data-unitprice="data-unitprice" name="unitprice-` + countRow + `" placeholder="precio unitario"/></td>
                                <td><input class="form-control onlyNumberDecimal" data-import="data-import" name="import-` + countRow +`" placeholder="importe" disabled="disabled" value="0.0000"/></td>
                               <td><a class="btn removerow"><i class="fa fa-trash"></i></a></td>
                           </tr>`;

            $('.totalImport').before(detalle);
            binDetailSale($('#tblSale tbody tr'));
            calcularImporteTotal();
        });

        function calcularImporteTotal() {
            let total = 0.0;
            $.each($('#tblDetail')[0].children, function (index, value) {
                let data = value.children[3].children[0].value;
                if (data !== "" && data !== undefined) {
                    total += parseFloat(data);
                    $('.totalImportGeneral').text(total.toFixed(4));
                }
            });
        }
    </script>
}