@model Agromin.SAV.Web.ViewModel.Sale.ListSaleViewModel

@{
    ViewBag.Section = "Venta";
    ViewBag.Title = "Lista de ventas";
    ViewBag.Icon = "fas fa-money-bill-alt";
    var index = 1;
}

<style>
    dl, ol, ul {
        margin-top: 15px;
        margin-bottom: 0px;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="header-title">Venta</h4>
            <p class="sub-header">
                Lista de ventas Sagromin.
            </p>

            <div class="table-responsive">
                <table class="table mb-0" id="tblSale">
                    <thead>
                        <tr>
                            <th width="2%">#</th>
                            <th width="20%">Cliente</th>
                            <th width="13%">N° Comprobante</th>
                            <th width="10%">Monto</th>
                            <th width="14.2%">Fecha Creación</th>
                            <th width="14.2%">Local</th>
                            <th width="5%">Estado de venta</th>
                            <th width="5%">Estado de entrega</th>
                            <th width="10%">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstSale)
                        {
                            <tr class="@(index % 2 != 1 ? "" : "table-info") ">
                                <td scope="row">@index</td>
                                <td>@item.FullName </td>
                                <td>@item.CodeVoucher</td>
                                <td>@item.General_Price</td>
                                <td>@item.Creation_Date</td>
                                <td>@item.LocalName</td>
                                <td>@Html.Raw(ConstantHelpers.ESTADO.GetLabelEstado(item.StatusPayment))</td>
                                <td>@Html.Raw(ConstantHelpers.ESTADO.GetLabelEstado(item.StatusDelivery))</td>
                                <td>

                                    @if (item.StatusPayment == ConstantHelpers.ESTADO.PREVENTA)
                                    {
                                        <text>
                                            <a @Data.ModalLink("_AddEditSale", "Sale", new { SaleId = item.SaleId })><i class="fa fa-edit" style="color:dodgerblue"></i></a>&nbsp;
                                            <a class="confirmSale" id="@item.SaleId"><i class="fa fa-check-circle" style="color:tomato"></i></a>&nbsp;
                                        </text>
                                    }
                                    @if (item.StatusDelivery == ConstantHelpers.ESTADO.NOENTREGADO)
                                    {
                                        <text>

                                            <a class="orderSent" id="@item.SaleId"><i class="fa fa-truck" style="color:darkgreen"></i></a>&nbsp;
                                        </text>
                                    }

                                </td>
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
            </div>

            <div class=" ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mr-2">
                            <a href="@Url.Action("AddEditSale", "Sale")" class="btn btn-success btn-rounded" style="margin-top: 30px;"><i class="mdi mdi-plus-circle mr-2"></i> Agregar venta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $('#tblSale').on('click', '.confirmSale',function () {
            Swal.fire({
                type: 'info',
                title: 'Confirmar venta',
                text: 'Confirmar venta realizada',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                showCancelButton: true,
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    var Sale_id = $(this)[0].attributes[1].nodeValue;
                    ajaxGeneralPostById('@Url.Action("ConfirmPaymentSale", "Sale")', Sale_id, 'Marca');
                }
            })
        });
        $('#tblSale').on('click', '.orderSent', function () {
            Swal.fire({
                type: 'info',
                title: 'Pedido enviado',
                text: 'Confirmar envio de pedido',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                showCancelButton: true,
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    var Sale_id = $(this)[0].attributes[1].nodeValue;
                    ajaxGeneralPostById('@Url.Action("ConfirmDeliverySale", "Sale")', Sale_id, 'Marca');
                }
            })
        });
    </script>
}
